[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/rapidyaml"]
	path = external/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
